/* Light */
@font-face {
  font-family: "JF-Flat-Light";
  src: url('../fonts/JFlat/JF-Flat-light.eot');
  src: url('../fonts/JFlat/JF-Flat-light.eot?#iefix') format('embedded-opentype'), url('../fonts/JFlat/JF-Flat-light.svg#JF Flat Light') format('svg'), url('../fonts/JFlat/JF-Flat-light.woff') format('woff'), url('../fonts/JFlat/JF-Flat-light.ttf') format('ttf');
  font-weight: 300 !important;
  font-style: normal !important;
}
/* Regular */
@font-face {
  font-family: "JF-Flat-Regular";
  src: url('../fonts/JFlat/JF-Flat-regular.eot');
  src: url('../fonts/JFlat/JF-Flat-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/JFlat/JF-Flat-regular.svg#JF Flat Regular') format('svg'), url('../fonts/JFlat/JF-Flat-regular.woff') format('woff'), url('../fonts/JFlat/JF-Flat-regular.ttf') format('ttf');
  font-weight: normal !important;
  font-style: normal !important;
}
/* Medium */
@font-face {
  font-family: "JF-Flat-Medium";
  src: url('../fonts/JFlat/JF-Flat-medium.eot');
  src: url('../fonts/JFlat/JF-Flat-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/JFlat/JF-Flat-medium.svg#JF Flat Medium') format('svg'), url('../fonts/JFlat/JF-Flat-medium.woff') format('woff'), url('../fonts/JFlat/JF-Flat-medium.ttf') format('ttf');
  font-weight: 600 !important;
  font-style: normal !important;
}
/************************************* VARIABLES ********************************************/
/**************************************** GENERAL ******************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  direction: rtl;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h2 {
  font-size: 24px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style-type: none;
}
input,
textarea {
  outline: none;
}
strong {
  font-weight: bold;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.cb {
  clear: both;
}
a {
  text-decoration: none;
  transition: all 0.6s ease-out;
}
/********************************* FIREWORKS-ANIMATION *********************************/
.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  z-index: 66;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}
.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}
@-webkit-keyframes bang {
  to {
    box-shadow: -180px 14.33333px #ff0015, 170px -372.66667px #ff007b, 132px -412.66667px #88ff00, -75px -415.66667px #00ccff, -117px 2.33333px #ffdd00, 14px -72.66667px #00fbff, -246px -192.66667px #00ff4d, 6px -273.66667px #4000ff, 238px -209.66667px #004dff, 9px -71.66667px #44ff00, -174px -364.66667px #006aff, 31px -171.66667px #ae00ff, -128px -110.66667px #00ff55, 103px -150.66667px #ff2600, 71px 34.33333px #62ff00, -66px -407.66667px #ffcc00, 203px -41.66667px #b7ff00, 117px -248.66667px #7300ff, -147px -302.66667px #6a00ff, 42px -5.66667px #ff0059, 28px 83.33333px #00ff6f, -41px -361.66667px #ff0077, 91px -67.66667px #00ff51, -150px -277.66667px #ffa600, 241px -54.66667px #ff3c00, 175px -18.66667px #fff200, -172px -103.66667px #4000ff, -49px -265.66667px #ffbb00, 193px -396.66667px #ff00f7, 131px -364.66667px #00ff77, -16px -293.66667px #4000ff, 215px -399.66667px #5eff00, -193px 4.33333px #ff0d00, -126px -339.66667px #0022ff, -65px -187.66667px #ff9100, 153px 54.33333px #3700ff, 211px -231.66667px #00ff40, -188px -337.66667px #00ff73, 124px -369.66667px #cc00ff, -70px -78.66667px #33ff00, 189px 25.33333px #00b3ff, -180px -305.66667px #e600ff, 158px -348.66667px #00f2ff, -249px -345.66667px #ff001e, -90px -91.66667px #ea00ff, 124px -352.66667px #00ff37, -160px 57.33333px #00ff1a, 70px -245.66667px #00d9ff, -186px -353.66667px #00ff8c, -22px -360.66667px #006fff, 46px -78.66667px #e100ff;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: -180px 14.33333px #ff0015, 170px -372.66667px #ff007b, 132px -412.66667px #88ff00, -75px -415.66667px #00ccff, -117px 2.33333px #ffdd00, 14px -72.66667px #00fbff, -246px -192.66667px #00ff4d, 6px -273.66667px #4000ff, 238px -209.66667px #004dff, 9px -71.66667px #44ff00, -174px -364.66667px #006aff, 31px -171.66667px #ae00ff, -128px -110.66667px #00ff55, 103px -150.66667px #ff2600, 71px 34.33333px #62ff00, -66px -407.66667px #ffcc00, 203px -41.66667px #b7ff00, 117px -248.66667px #7300ff, -147px -302.66667px #6a00ff, 42px -5.66667px #ff0059, 28px 83.33333px #00ff6f, -41px -361.66667px #ff0077, 91px -67.66667px #00ff51, -150px -277.66667px #ffa600, 241px -54.66667px #ff3c00, 175px -18.66667px #fff200, -172px -103.66667px #4000ff, -49px -265.66667px #ffbb00, 193px -396.66667px #ff00f7, 131px -364.66667px #00ff77, -16px -293.66667px #4000ff, 215px -399.66667px #5eff00, -193px 4.33333px #ff0d00, -126px -339.66667px #0022ff, -65px -187.66667px #ff9100, 153px 54.33333px #3700ff, 211px -231.66667px #00ff40, -188px -337.66667px #00ff73, 124px -369.66667px #cc00ff, -70px -78.66667px #33ff00, 189px 25.33333px #00b3ff, -180px -305.66667px #e600ff, 158px -348.66667px #00f2ff, -249px -345.66667px #ff001e, -90px -91.66667px #ea00ff, 124px -352.66667px #00ff37, -160px 57.33333px #00ff1a, 70px -245.66667px #00d9ff, -186px -353.66667px #00ff8c, -22px -360.66667px #006fff, 46px -78.66667px #e100ff;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: -180px 14.33333px #ff0015, 170px -372.66667px #ff007b, 132px -412.66667px #88ff00, -75px -415.66667px #00ccff, -117px 2.33333px #ffdd00, 14px -72.66667px #00fbff, -246px -192.66667px #00ff4d, 6px -273.66667px #4000ff, 238px -209.66667px #004dff, 9px -71.66667px #44ff00, -174px -364.66667px #006aff, 31px -171.66667px #ae00ff, -128px -110.66667px #00ff55, 103px -150.66667px #ff2600, 71px 34.33333px #62ff00, -66px -407.66667px #ffcc00, 203px -41.66667px #b7ff00, 117px -248.66667px #7300ff, -147px -302.66667px #6a00ff, 42px -5.66667px #ff0059, 28px 83.33333px #00ff6f, -41px -361.66667px #ff0077, 91px -67.66667px #00ff51, -150px -277.66667px #ffa600, 241px -54.66667px #ff3c00, 175px -18.66667px #fff200, -172px -103.66667px #4000ff, -49px -265.66667px #ffbb00, 193px -396.66667px #ff00f7, 131px -364.66667px #00ff77, -16px -293.66667px #4000ff, 215px -399.66667px #5eff00, -193px 4.33333px #ff0d00, -126px -339.66667px #0022ff, -65px -187.66667px #ff9100, 153px 54.33333px #3700ff, 211px -231.66667px #00ff40, -188px -337.66667px #00ff73, 124px -369.66667px #cc00ff, -70px -78.66667px #33ff00, 189px 25.33333px #00b3ff, -180px -305.66667px #e600ff, 158px -348.66667px #00f2ff, -249px -345.66667px #ff001e, -90px -91.66667px #ea00ff, 124px -352.66667px #00ff37, -160px 57.33333px #00ff1a, 70px -245.66667px #00d9ff, -186px -353.66667px #00ff8c, -22px -360.66667px #006fff, 46px -78.66667px #e100ff;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: -180px 14.33333px #ff0015, 170px -372.66667px #ff007b, 132px -412.66667px #88ff00, -75px -415.66667px #00ccff, -117px 2.33333px #ffdd00, 14px -72.66667px #00fbff, -246px -192.66667px #00ff4d, 6px -273.66667px #4000ff, 238px -209.66667px #004dff, 9px -71.66667px #44ff00, -174px -364.66667px #006aff, 31px -171.66667px #ae00ff, -128px -110.66667px #00ff55, 103px -150.66667px #ff2600, 71px 34.33333px #62ff00, -66px -407.66667px #ffcc00, 203px -41.66667px #b7ff00, 117px -248.66667px #7300ff, -147px -302.66667px #6a00ff, 42px -5.66667px #ff0059, 28px 83.33333px #00ff6f, -41px -361.66667px #ff0077, 91px -67.66667px #00ff51, -150px -277.66667px #ffa600, 241px -54.66667px #ff3c00, 175px -18.66667px #fff200, -172px -103.66667px #4000ff, -49px -265.66667px #ffbb00, 193px -396.66667px #ff00f7, 131px -364.66667px #00ff77, -16px -293.66667px #4000ff, 215px -399.66667px #5eff00, -193px 4.33333px #ff0d00, -126px -339.66667px #0022ff, -65px -187.66667px #ff9100, 153px 54.33333px #3700ff, 211px -231.66667px #00ff40, -188px -337.66667px #00ff73, 124px -369.66667px #cc00ff, -70px -78.66667px #33ff00, 189px 25.33333px #00b3ff, -180px -305.66667px #e600ff, 158px -348.66667px #00f2ff, -249px -345.66667px #ff001e, -90px -91.66667px #ea00ff, 124px -352.66667px #00ff37, -160px 57.33333px #00ff1a, 70px -245.66667px #00d9ff, -186px -353.66667px #00ff8c, -22px -360.66667px #006fff, 46px -78.66667px #e100ff;
  }
}
@keyframes bang {
  to {
    box-shadow: -180px 14.33333px #ff0015, 170px -372.66667px #ff007b, 132px -412.66667px #88ff00, -75px -415.66667px #00ccff, -117px 2.33333px #ffdd00, 14px -72.66667px #00fbff, -246px -192.66667px #00ff4d, 6px -273.66667px #4000ff, 238px -209.66667px #004dff, 9px -71.66667px #44ff00, -174px -364.66667px #006aff, 31px -171.66667px #ae00ff, -128px -110.66667px #00ff55, 103px -150.66667px #ff2600, 71px 34.33333px #62ff00, -66px -407.66667px #ffcc00, 203px -41.66667px #b7ff00, 117px -248.66667px #7300ff, -147px -302.66667px #6a00ff, 42px -5.66667px #ff0059, 28px 83.33333px #00ff6f, -41px -361.66667px #ff0077, 91px -67.66667px #00ff51, -150px -277.66667px #ffa600, 241px -54.66667px #ff3c00, 175px -18.66667px #fff200, -172px -103.66667px #4000ff, -49px -265.66667px #ffbb00, 193px -396.66667px #ff00f7, 131px -364.66667px #00ff77, -16px -293.66667px #4000ff, 215px -399.66667px #5eff00, -193px 4.33333px #ff0d00, -126px -339.66667px #0022ff, -65px -187.66667px #ff9100, 153px 54.33333px #3700ff, 211px -231.66667px #00ff40, -188px -337.66667px #00ff73, 124px -369.66667px #cc00ff, -70px -78.66667px #33ff00, 189px 25.33333px #00b3ff, -180px -305.66667px #e600ff, 158px -348.66667px #00f2ff, -249px -345.66667px #ff001e, -90px -91.66667px #ea00ff, 124px -352.66667px #00ff37, -160px 57.33333px #00ff1a, 70px -245.66667px #00d9ff, -186px -353.66667px #00ff8c, -22px -360.66667px #006fff, 46px -78.66667px #e100ff;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
/*********************************** NAVBAR ! **********************************/
nav {
  position: absolute !important;
  background-color: transparent;
  border: none;
  border-radius: 0;
  height: 60px;
  margin-bottom: 0;
  width: 100%;
  margin-top: 38px;
}
nav .navbar-default {
  padding-top: 25px;
}
nav .navbar-default .container #collapse-1 {
  text-align: right;
  float: right;
}
nav .navbar-default .container #collapse-1 ul .main_menu {
  float: right;
}
nav .navbar-default .container #collapse-1 ul .main_menu li {
  float: right;
}
nav .navbar-default .container #collapse-1 ul .main_menu a {
  padding: 0;
}
nav .navbar-default .container #collapse-1 li .active {
  background-color: #7ea212;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "JF-Flat-Light", Georgia, serif;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #ffada1;
  border-bottom: 4px solid #ffada1;
  font-family: "JF-Flat-Medium", Arial, sans-serif;
}
nav .container #collapse-1 .main_menu .input-li {
  margin-right: 10px;
  padding: 5px;
  cursor: pointer;
  color: #ffffff;
}
nav .container #collapse-1 .main_menu .input-li #search {
  color: #000000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffada1;
  border-bottom: 4px solid #ffada1;
  background-color: transparent;
  font-family: "JF-Flat-Medium", Arial, sans-serif;
}
nav .container #collapse-1 .main_menu li {
  float: right;
}
.navbar-default .navbar-nav #bill {
  background-color: #963628;
  border-radius: 15px;
}
.navbar-default .navbar-nav #bill:hover {
  color: #963628;
  background-color: #ffffff;
  border-bottom: none;
}
/*********************************** JUMBOTRON ! **********************************/
#jumbotron {
  position: relative;
}
#jumbotron img {
  width: 100%;
  height: 100%;
}
#jumbotron .jumbotron-caption {
  position: absolute;
  text-align: right;
  top: 35%;
  right: 0;
  left: 0;
  z-index: 3;
}
#jumbotron .jumbotron-caption h2 {
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 27px;
  font-size: 48px;
  font-family: "JF-Flat-Light", Georgia, serif;
}
#jumbotron .jumbotron-caption p {
  font-size: 18px;
  font-family: "JF-Flat-Regular", Georgia, serif;
  color: #ffffff;
  line-height: 1.4;
}
#jumbotron .jumbotron-caption div {
  margin-bottom: 40px;
}
#jumbotron .jumbotron-caption .first-link {
  margin-right: 20px;
}
#jumbotron .jumbotron-caption a {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 11px;
  padding: 12px 30px;
  position: relative;
  font-size: 14px;
  font-family: "JF-Flat-Regular", Georgia, serif;
  color: #ffffff;
  text-decoration: none;
}
#jumbotron .jumbotron-caption a i {
  padding-left: 5px;
  font-size: 14px;
}
#jumbotron .jumbotron-caption a:hover {
  color: #8c362c;
  background-color: #ffffff;
  text-decoration: none;
}
/************************************ ABOUT ! *********************************************/
#about {
  background-image: url('../../img/about-background.png'), url('../../img/about-background2.png');
  background-size: cover, center;
  background-repeat: no-repeat, no-repeat;
  background-position: 0 0;
  padding-top: 80px;
  padding-bottom: 80px;
}
#about .container .col-md-8 .about-heading {
  position: relative;
  display: inline-flex;
  padding-bottom: 75px;
}
#about .container .col-md-8 .about-heading img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#about .container .col-md-8 .about-heading h2 {
  color: #8c362c;
  padding: 0 20px;
  font-family: "JF-Flat-Medium", Arial, sans-serif;
  font-size: 16px;
}
#about .container .col-md-8 p {
  color: #acaba2;
  font-family: "JF-Flat-Light", Georgia, serif;
  font-size: 14px;
  line-height: 1.2;
}
#about .container .col-md-4 img {
  margin-top: 90px;
}
/************************************ HALLS ! *********************************************/
#halls {
  padding: 100px 0;
  background: #eded2f;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #eded2f 0%, #474919 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #eded2f), color-stop(100%, #474919));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #eded2f 0%, #474919 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #eded2f 0%, #474919 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #eded2f 0%, #474919 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #8c362c 0%, #2f374e 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eded2f', endColorstr='#474919', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
#halls .container-fluid .row .white-box {
  width: 100px;
  height: 100px;
  border: 5px solid #ffffff;
  background: transparent;
  position: relative;
  margin: 0 auto;
  transform: translateY(-50%);
}
#halls .container-fluid .row .white-box:hover {
  background: #ffffff;
  box-shadow: -5px 5px 5px #aaa;
  transition: all 1s ease-out;
}
#halls .container-fluid .about-heading {
  position: relative;
  display: flex;
  padding-bottom: 75px;
}
#halls .container-fluid .about-heading img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#halls .container-fluid .about-heading h2 {
  color: #ffffff;
  padding: 0 20px;
  font-family: "JF-Flat-Regular", Georgia, serif;
  font-size: 16px;
}
#halls .container-fluid .img-container1 {
  display: -webkit-flex;
  display: flex;
  padding-left: 0;
  padding-right: 0;
  z-index: 5;
}
#halls .container-fluid .img-container1 img {
  width: 100%;
}
#halls .container-fluid .caption-container {
  padding-right: 150px;
  padding-top: 100px;
}
#halls .container-fluid .caption-container h2 {
  margin-bottom: 25px;
  color: #ffffff;
  text-align: right;
  font-size: 36px;
  font-family: "JF-Flat-Light", Georgia, serif;
}
#halls .container-fluid .caption-container div p {
  margin-bottom: 40px;
  color: #ffffff;
  text-align: right;
  font-family: "JF-Flat-Regular", Georgia, serif;
  font-size: 14px;
  line-height: 1.5;
}
#halls .container-fluid .caption-container a {
  background-color: #ffffff;
  border: 2px solid #fff;
  border-radius: 11px;
  padding: 12px 30px;
  position: relative;
  font-size: 16px;
  font-family: "JF-Flat-Regular", Georgia, serif;
  color: #8c362c;
  text-decoration: none;
}
#halls .container-fluid .caption-container a:hover {
  background: transparent;
  color: #ffffff;
}
#halls .container-fluid .img-container2 {
  display: -webkit-flex;
  display: flex;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  z-index: 5;
}
#halls .container-fluid .img-container2 img {
  width: 100%;
}
#halls .container-fluid .img-container3 {
  display: -webkit-flex;
  display: flex;
  padding-left: 0;
  padding-right: 0;
  z-index: 5;
}
#halls .container-fluid .img-container3 img {
  width: 100%;
}
/************************************ CONTACT ! *********************************************/
#contact {
  background: url('../../img/map-bg.png') no-repeat;
  background-size: cover;
  z-index: 2;
  height: 700px;
}
#contact .overlay {
  position: absolute;
  z-index: 2;
  height: 700px;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, from(#2f374e), to(#cf7267));
  background: -webkit-linear-gradient(#2f374e, #cf7267);
  background: -moz-linear-gradient(#2f374e, #cf7267);
  background: -ms-linear-gradient(#2f374e, #cf7267);
  background: -o-linear-gradient(#2f374e, #cf7267);
  background: linear-gradient(#2f374e, #cf7267);
  filter: opacity(95%);
}
#contact .container .row {
  position: relative;
  z-index: 3;
  padding-top: 75px;
}
#contact .container .row .col-md-6 {
  text-align: center;
  margin: 0 auto;
  float: inherit;
}
#contact .container .row .col-md-6 .about-heading {
  position: relative;
  display: inline-flex;
}
#contact .container .row .col-md-6 .about-heading h2 {
  margin-left: 50px;
  margin-right: 50px;
  color: #fff;
}
#contact .container .row .col-md-6 .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
  border-radius: 3px;
  position: relative;
  z-index: 5;
  margin: 0 auto;
}
#contact .container .row .col-md-6 .form .btn {
  background: #fff;
  color: #8c362c;
  position: relative;
  bottom: 42px;
}
#contact .container .row .col-md-6 .form .btn a {
  text-decoration: none;
  color: #8c362c;
}
#contact .container .row .col-md-6 .form .btn:hover {
  background: #8c362c;
  color: #fff;
  transition: all 0.8s ease-out;
}
#contact .container .row .col-md-6 .form .btn:hover a {
  color: #fff;
}
#contact .container .row .col-md-6 .form .social-line {
  margin: 0 auto;
}
#contact .container .row .col-md-6 .form .social-line a {
  text-decoration: none;
  padding-right: 20px;
}
#contact .container .row .col-md-6 .form .social-line a i {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  opacity: 0.7;
}
#contact .container .row .col-md-6 .form div {
  position: relative;
  margin-top: 22px;
  transform: translateY(-35px);
}
#contact .container .row .col-md-6 label {
  width: 100%;
  position: absolute;
  top: 15px;
  left: 5px;
  pointer-events: none;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  transition: all 0.15s ease-out;
}
#contact .container .row .col-md-6 .textarea {
  width: 100%;
  top: -13px;
  pointer-events: none;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  transition: all 0.15s ease-out;
}
#contact .container .row .col-md-6 input:focus ~ label,
#contact .container .row .col-md-6 input:valid ~ label {
  top: -15px;
  left: -55px;
  transform: scale(0.6);
}
#contact .container .row .col-md-6 input[type="text"] {
  padding: 10px;
  border: 0;
  border-bottom: 1px solid #fff;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  background: transparent;
  outline: none;
}
#contact .container .row .col-md-6 .btn input:focus {
  outline: none;
}
#contact .container .row .col-md-6 .btn input:hover {
  transform: scale(1.03);
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.6);
}
#contact .container .row .col-md-6 .btn input:active {
  transform: scale(1);
}
#contact .container .row .col-md-6 #textarea {
  background: transparent;
  padding: 15px 35px;
  margin-top: 21px;
  border-color: #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
}
/************************************ Footer ! *********************************************/
#footer {
  background: url('../../img/footer-bg.png') no-repeat, url('../../img/footer-logo-bg.png') no-repeat;
  background-size: cover, center bottom;
}
#footer .container .main-footer {
  padding: 100px 55px;
}
#footer .container .main-footer .row .social h3 {
  text-align: right;
  font-size: 20px;
  padding-bottom: 35px;
  color: #2f374e;
  font-family: "JF-Flat-Regular", Georgia, serif;
}
#footer .container .main-footer .row .social .social-group1 {
  float: right;
}
#footer .container .main-footer .row .social .social-group1 i {
  font-size: 16px;
  text-align: center;
}
#footer .container .main-footer .row .social .social-group2 {
  float: right;
  margin-bottom: 40px;
}
#footer .container .main-footer .row .social .social-group2 i {
  font-size: 16px;
  text-align: center;
}
#footer .container .main-footer .row .social a.btn {
  float: left;
  border: 0;
  border-radius: 2px;
  color: #FFF;
  cursor: pointer;
  font-size: 14px;
  line-height: 0;
  margin-bottom: 23px;
  padding: 6px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: 0.4s all linear;
  vertical-align: middle;
  width: 35px;
  margin-left: 23px;
}
#footer .container .main-footer .row .social a.btn.facebook {
  background: center center no-repeat #3e5a92;
  border: 1px solid #2f446e;
  box-shadow: 0 3px 0 0 #364f80, 0px 1px 0px #2f446e;
  box-sizing: border-box;
}
#footer .container .main-footer .row .social a.btn.facebook:hover {
  background-color: #4665a4;
}
#footer .container .main-footer .row .social a.btn.twitter {
  background: center center no-repeat #31a6d8;
  border: 1px solid #2288b4;
  box-shadow: 0 3px 0 0 #2698c9, 0px 1px 0px #2288b4;
  box-sizing: border-box;
}
#footer .container .main-footer .row .social a.btn.twitter:hover {
  background-color: #46afdc;
}
#footer .container .main-footer .row .social a.btn.tumblr {
  background: center center no-repeat #2C4762;
  border: 1px solid #1c2d3f;
  box-shadow: 0 3px 0 0 #243a50, 0px 1px 0px #1c2d3f;
  box-sizing: border-box;
}
#footer .container .main-footer .row .social a.btn.tumblr:hover {
  background-color: #345474;
}
#footer .container .main-footer .row .social a.btn.foursquare {
  background: center center no-repeat #0CBADF;
  border: 1px solid #0992af;
  box-shadow: 0 3px 0 0 #0ba6c7, 0px 1px 0px #0992af;
  box-sizing: border-box;
}
#footer .container .main-footer .row .social a.btn.foursquare:hover {
  background-color: #12cbf2;
}
#footer .container .main-footer .row .social a.btn.flickr {
  background: center center no-repeat #FF0084;
  border: 1px solid #cc006a;
  box-shadow: 0 3px 0 0 #e60077, 0px 1px 0px #cc006a;
  box-sizing: border-box;
}
#footer .container .main-footer .row .social a.btn.flickr:hover {
  background-color: #ff1a90;
}
#footer .container .main-footer .row .social a.btn.pinterest {
  background: center center no-repeat #CB2027;
  border: 1px solid #9f191f;
  box-shadow: 0 3px 0 0 #b51d23, 0px 1px 0px #9f191f;
  box-sizing: border-box;
}
#footer .container .main-footer .row .social a.btn.pinterest:hover {
  background-color: #dd272f;
}
#footer .container .main-footer .row .social a.btn.linkedin {
  background: center center no-repeat #1884bc;
  border: 1px solid #12648f;
  box-shadow: 0 3px 0 0 #1574a5, 0px 1px 0px #12648f;
  box-sizing: border-box;
}
#footer .container .main-footer .row .social a.btn.linkedin:hover {
  background-color: #1b94d3;
}
#footer .container .main-footer .row .social a.btn.youtube {
  background: center center no-repeat #FF3333;
  border: 1px solid #ff0000;
  box-shadow: 0 3px 0 0 #ff1919, 0px 1px 0px #ff0000;
  box-sizing: border-box;
}
#footer .container .main-footer .row .social a.btn.youtube:hover {
  background-color: #ff4d4d;
}
#footer .container .main-footer .row .social a.btn.instagram {
  background: center center no-repeat #406e95;
  border: 1px solid #315471;
  box-shadow: 0 3px 0 0 #386183, 0px 1px 0px #315471;
  box-sizing: border-box;
}
#footer .container .main-footer .row .social a.btn.instagram:hover {
  background-color: #487ba7;
}
#footer .container .main-footer .row .social a.btn:active {
  box-shadow: none;
  margin: 3px 0 -3px;
  outline: 0;
}
#footer .container .main-footer .row .social h4 {
  padding-bottom: 35px;
  text-align: right;
  font-size: 20px;
  color: #2f374e;
  font-family: "JF-Flat-Regular", Georgia, serif;
}
#footer .container .main-footer .row .social form i {
  position: relative;
  background: #161d7c;
  color: #fff;
  border: none;
  height: 40px;
  text-align: center;
  width: 40px;
  font-size: 15px;
  padding: 12px 5px;
  border-bottom-left-radius: 6px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  cursor: pointer;
  float: right;
}
#footer .container .main-footer .row .social form input[type='email'] {
  height: 40px;
  border-radius: 0 10px 10px 0;
  border: 1px solid #2f374e;
  padding: 15px 25px;
  width: calc(100% - 28px);
  float: right;
}
#footer .container .main-footer .row .social form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #acaba2;
}
#footer .container .main-footer .row .social form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #acaba2;
}
#footer .container .main-footer .row .social form :-ms-input-placeholder {
  /* IE 10+ */
  color: #acaba2;
}
#footer .container .main-footer .row .social form :-moz-placeholder {
  /* Firefox 18- */
  color: #acaba2;
}
#footer .container .main-footer .row .static-links {
  text-align: right;
}
#footer .container .main-footer .row .static-links h3 {
  text-align: right;
  font-size: 20px;
  padding-bottom: 35px;
  color: #2f374e;
  font-family: "JF-Flat-Regular", Georgia, serif;
}
#footer .container .main-footer .row .static-links ul li a {
  text-decoration: none;
  color: #acaba2;
  font-size: 14px;
  font-family: "JF-Flat-Medium", Arial, sans-serif;
  line-height: 2;
  transition: all 0.8 ease-out;
}
#footer .container .main-footer .row .static-links ul li a::before {
  content: '*';
  font-size: 14px;
  right: 15px;
  color: #acaba2;
  padding-left: 20px;
}
#footer .container .main-footer .row .static-links ul li a:hover {
  transition: all 0.8 ease-out;
  color: #2f374e;
}
#footer .container-fluid {
  padding-right: 0;
  padding-left: 0;
}
#footer .container-fluid .copyright_area {
  padding: 5px 0;
  background: red;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #2f374e, #8c362c);
  background: -o-linear-gradient(right, #2f374e, #8c362c);
  background: -moz-linear-gradient(right, #2f374e, #8c362c);
  background: linear-gradient(to right, #2f374e, #8c362c);
}
#footer .container-fluid .copyright_area .row {
  margin-right: 0;
  margin-left: 0;
}
#footer .container-fluid .copyright_area .row .left {
  padding-left: 158px;
}
#footer .container-fluid .copyright_area .row .left .site_copyright {
  text-align: left;
}
#footer .container-fluid .copyright_area .row .left .site_copyright h3 {
  color: #fff;
}
#footer .container-fluid .copyright_area .row .left .site_copyright h3 a {
  text-decoration: underline;
  color: #fff;
}
#footer .container-fluid .copyright_area .row .right {
  padding-right: 158px;
}
#footer .container-fluid .copyright_area .row .right .site_copyright h3 {
  float: right;
  text-align: right;
  color: #fff;
}
#footer .container-fluid .copyright_area .row .right .site_copyright h3 a {
  text-decoration: none;
  color: #fff;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  nav .container #collapse-1 .main_menu li {
    float: none;
    display: block;
  }
  #jumbotron .jumbotron-caption {
    margin-right: 0;
  }
  #jumbotron .jumbotron-caption h2 {
    font-size: 30px;
  }
  #halls .container-fluid .caption-container {
    padding-right: 125px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  #contact .container .row .col-md-6 .about-heading {
    width: 87%;
  }
  #footer .container .main-footer .row .social .social-group1,
  #footer .container .main-footer .row .social .social-group2 {
    display: -webkit-box;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    background: #2f374e;
    position: absolute;
    width: 35%;
    padding-left: 0;
    margin-bottom: 0;
    z-index: 6;
    list-style: none;
    border: none;
    border-radius: 10px;
  }
  nav .container #collapse-1 .main_menu li {
    float: none;
    display: block;
    padding: 5px 0;
  }
  nav .container #collapse-1 .main_menu .input-li #search {
    width: 80%;
  }
  .navbar-default {
    margin-top: 15px;
  }
  #jumbotron .jumbotron-caption {
    display: none;
  }
  #jumbotron .jumbotron-caption h2 {
    font-size: 27px;
  }
  #jumbotron .jumbotron-caption p {
    font-size: 16px;
  }
  #jumbotron .jumbotron-caption a {
    padding: 12px 15px;
    font-size: 13px;
  }
  #about .container .col-md-4 img {
    display: -webkit-box;
    margin: 0 auto;
    padding-top: 30px;
  }
  #halls {
    padding: 65px 0;
  }
  #halls .container-fluid .about-heading {
    width: 28%;
  }
  #halls .container-fluid .caption-container {
    padding-right: 55px;
  }
  #halls .container-fluid .row .white-box {
    display: none;
  }
  #contact .container .row .col-md-6 .form {
    margin-top: 80px;
  }
  #contact .container .row .col-md-6 .about-heading {
    width: 55%;
  }
  #footer .container .main-footer {
    padding: 40px 55px;
  }
  #footer .container-fluid .copyright_area .row .right {
    padding-right: 10px;
  }
  #footer .container-fluid .copyright_area .row .left {
    padding-left: 10px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  nav {
    background: #2f374e;
    position: absolute;
    width: 40%;
    padding-left: 0;
    margin-bottom: 0;
    z-index: 6;
    list-style: none;
    border: none;
  }
  nav .container #collapse-1 .main_menu li {
    float: none;
    display: block;
    padding: 5px;
  }
  nav .container #collapse-1 .main_menu .input-li #search {
    width: 80%;
  }
  #jumbotron .jumbotron-caption {
    display: none;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border: none;
    background: #2f374e;
    border-radius: 10px;
  }
  #halls .container-fluid .about-heading {
    width: 43%;
  }
  #halls .container-fluid .caption-container {
    padding-right: 23px;
  }
  #halls .container-fluid .caption-container h2 {
    font-size: 30px;
  }
  #contact .container .row .col-md-6 .about-heading {
    width: 88%;
  }
  #footer .container .main-footer .row .static-links h3 {
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  nav {
    background: #2f374e;
    position: absolute;
    width: 40%;
    padding-left: 0;
    margin-bottom: 0;
    z-index: 6;
    list-style: none;
    border: none;
  }
  nav .container #collapse-1 .main_menu li {
    float: none;
    display: block;
    padding: 5px;
  }
  nav .container #collapse-1 .main_menu .input-li #search {
    width: 80%;
  }
  #jumbotron .jumbotron-caption {
    display: none;
  }
  #contact .container .row .col-md-6 #textarea {
    padding: 15px 30px;
  }
  #about .container .col-md-4 img {
    margin-bottom: 30px;
  }
  #halls .container-fluid .caption-container {
    padding-right: 16px;
  }
  #halls .container-fluid .caption-container a {
    padding: 5px 5px;
    font-size: 14px;
  }
  #contact .container .row .col-md-6 .about-heading h2 {
    margin-right: 15px;
    margin-left: 15px;
  }
  #contact .container .row .col-md-6 .about-heading {
    width: 100%;
  }
  #contact .container .row .col-md-6 input[type="text"] {
    font-size: 20px;
  }
  #contact .container .row .col-md-6 .form {
    padding: 18px;
  }
  #contact .container .row .col-md-6 .form .social-line a {
    padding-right: 12px;
  }
  #footer .container-fluid .copyright_area {
    padding: 10px 15px;
    text-align: center;
  }
}
#jumbotron {
  position: relative;
}
#jumbotron #jumbotron img {
  width: 100%;
  height: 100%;
}
#description {
  padding: 50px;
}
#description .container .row .col-md-12 {
  position: relative;
}
#description .container .row .col-md-12 .about-heading {
  position: relative;
  display: flex;
}
#description .container .row .col-md-12 .about-heading img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#description .container .row .col-md-12 .about-heading h2 {
  color: #8c362c;
  padding: 0 20px;
  font-family: "JF-Flat-Medium", Arial, sans-serif;
  font-size: 16px;
}
#description .container .row .col-md-12 p {
  font-family: "JF-Flat-Regular", Georgia, serif;
  font-size: 16px;
  padding-top: 100px;
  text-align: center;
  color: #acaba2;
}
#gallery .table-bordered > thead > tr > th,
#gallery .table-bordered > tbody > tr > th,
#gallery .table-bordered > tfoot > tr > th,
#gallery .table-bordered > thead > tr > td,
#gallery .table-bordered > tbody > tr > td,
#gallery .table-bordered > tfoot > tr > td {
  border: none;
}
#gallery .table > thead > tr > th,
#gallery .table > tbody > tr > th,
#gallery .table > tfoot > tr > th,
#gallery .table > thead > tr > td,
#gallery .table > tbody > tr > td,
#gallery .table > tfoot > tr > td {
  padding: 0;
  border: 0;
  line-height: 0;
}
#gallery .about-heading {
  position: relative;
  display: flex;
  padding-top: 30px;
  padding-bottom: 60px;
}
#gallery .about-heading img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#gallery .about-heading h2 {
  color: #8c362c;
  padding: 0 20px;
  font-family: "JF-Flat-Medium", Arial, sans-serif;
  font-size: 16px;
}
#gallery table * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}
#gallery .table-bordered > thead > tr > th,
#gallery .table-bordered > tbody > tr > th,
#gallery .table-bordered > tfoot > tr > th,
#gallery .table-bordered > thead > tr > td,
#gallery .table-bordered > tbody > tr > td,
#gallery .table-bordered > tfoot > tr > td:hover > img,
#gallery .table-bordered > thead > tr > th,
#gallery .table-bordered > tbody > tr > th,
#gallery .table-bordered > tfoot > tr > th,
#gallery .table-bordered > thead > tr > td,
#gallery .table-bordered > tbody > tr > td,
#gallery .table-bordered > tfoot > tr > td.hover > img {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
#gallery .snip1523:hover figcaption,
#gallery .snip1523.hover figcaption {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
#info {
  padding: 50px 0;
}
#info .about-heading {
  position: relative;
  display: flex;
  padding-top: 30px;
  padding-bottom: 60px;
}
#info .about-heading img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#info .about-heading h2 {
  color: #8c362c;
  padding: 0 20px;
  font-family: "JF-Flat-Medium", Arial, sans-serif;
  font-size: 16px;
}
#info .info-items li h4 {
  text-align: center;
  color: #acaba2;
  font-family: "JF-Flat-Regular", Georgia, serif;
}
#info .info-items li i {
  color: #8c362c;
}
#info .btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
#info .btn-box a {
  display: block;
  background-color: #2f374e;
  border: 2px solid #fff;
  border-radius: 11px;
  padding: 12px 30px;
  position: relative;
  font-size: 16px;
  font-family: "JF-Flat-Regular", Georgia, serif;
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
}
#info .btn-box a:hover {
  background: #8c362c;
  color: #fff;
  transition: all 0.8s ease-out;
}
#extra {
  padding: 50px 0;
}
#extra .about-heading {
  position: relative;
  display: flex;
  padding-top: 30px;
  padding-bottom: 60px;
}
#extra .about-heading img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#extra .about-heading h2 {
  color: #8c362c;
  padding: 0 20px;
  font-family: "JF-Flat-Medium", Arial, sans-serif;
  font-size: 16px;
}
#extra .extra li h4 {
  text-align: center;
  color: #acaba2;
  padding-top: 10px;
  font-family: "JF-Flat-Regular", Georgia, serif;
}
#extra .btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
#extra .btn-box a {
  display: block;
  background-color: #8c362c;
  border: 2px solid #fff;
  border-radius: 11px;
  padding: 12px 30px;
  position: relative;
  font-size: 16px;
  font-family: "JF-Flat-Regular", Georgia, serif;
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
}
#extra .btn-box a:hover {
  background: #2f374e;
  color: #fff;
  transition: all 0.8s ease-out;
}
#booking {
  padding: 50px 0;
}
#booking .about-heading {
  position: relative;
  display: flex;
  padding-top: 30px;
  padding-bottom: 60px;
}
#booking .about-heading img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#booking .about-heading h2 {
  color: #8c362c;
  padding: 0 20px;
  font-family: "JF-Flat-Medium", Arial, sans-serif;
  font-size: 16px;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  color: #fff;
  background: #2f374e;
  padding: 15px;
  border-radius: 50%;
  text-align: center;
  margin: 15px;
  border: 1px solid #c5c5c5;
  font-weight: normal;
}
.col-md-12 .ui-widget.ui-widget-content {
  border: none;
  display: inline-flex !important;
}
.col-md-12 .ui-datepicker td {
  padding: 3px 30px;
}
.col-md-12 .ui-widget-header {
  border: none;
  background: #eded2f;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #eded2f 0%, #474919 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #eded2f), color-stop(100%, #474919));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #eded2f 0%, #474919 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #eded2f 0%, #474919 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #eded2f 0%, #474919 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #8c362c 0%, #2f374e 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eded2f', endColorstr='#474919', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
#extra-services .container .row .about-heading {
  position: relative;
  display: flex;
  padding-top: 30px;
  padding-bottom: 60px;
}
#extra-services .container .row .about-heading img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#extra-services .container .row .about-heading h2 {
  color: #8c362c;
  padding: 0 20px;
  font-family: "JF-Flat-Medium", Arial, sans-serif;
  font-size: 16px;
}
#extra-services .container .row .col-md-8 .extra-ul li {
  padding-bottom: 10px;
}
#extra-services .container .row .col-md-8 .extra-ul li h4 {
  display: -webkit-inline-box;
  color: #212121;
  font-family: "JF-Flat-Regular", Georgia, serif;
  font-size: 16px;
}
#extra-services .container .row .col-md-8 .extra-ul li h4 span {
  color: #acaba2;
}
#extra-services .container .row .col-md-8 .extra-ul li .radio-group {
  float: left;
}
#extra-services .container .row .col-md-8 .extra-ul li .radio {
  display: -webkit-inline-box;
}
#extra-services .container .row .col-md-8 .extra-ul li .radio label,
#extra-services .container .row .col-md-8 .extra-ul li .checkbox label {
  padding-right: 20px;
  display: -webkit-box;
  font-family: "JF-Flat-Regular", Georgia, serif;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 0;
}
#extra-services .container .row .col-md-8 .extra-ul li input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
#extra-services .container .row .col-md-8 .extra-ul li input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #8c362c;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
#extra-services .container .row .input-number {
  width: 80px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
}
#extra-services .container .row .input-number,
#extra-services .container .row .input-number-decrement,
#extra-services .container .row .input-number-increment {
  /* border: 1px solid #ccc; */
  height: 40px;
  border: 0;
  user-select: none;
}
#extra-services .container .row .input-number-decrement,
#extra-services .container .row .input-number-increment {
  display: inline-block;
  width: 30px;
  line-height: 38px;
  background: #f1f1f1;
  color: #444;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
#extra-services .container .row .input-number-decrement:active,
#extra-services .container .row .input-number-increment:active {
  background: #ddd;
}
#extra-services .container .row .input-number-decrement {
  border-right: none;
  border-radius: 4px 0 0 4px;
  color: #ffffff;
  background: #8c362c;
}
#extra-services .container .row .input-number-increment {
  border-left: none;
  border-radius: 0 4px 4px 0;
  color: #ffffff;
  background: #8c362c;
}
#extra-services .container .row #class-1 {
  color: #ffffff;
  background: #acaba2;
}
#total-cost {
  padding: 80px 0;
}
#total-cost .container .row {
  /* active state */
  /* active state */
}
#total-cost .container .row .about-heading {
  position: relative;
  display: flex;
  padding-top: 30px;
  padding-bottom: 60px;
}
#total-cost .container .row .about-heading img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#total-cost .container .row .about-heading h2 {
  color: #8c362c;
  padding: 0 20px;
  font-family: "JF-Flat-Medium", Arial, sans-serif;
  font-size: 16px;
}
#total-cost .container .row h1 {
  font-size: 48px;
  color: #8c362c;
  font-family: "JF-Flat-Medium", Arial, sans-serif;
  text-align: center;
  padding-bottom: 50px;
}
#total-cost .container .row h1 span {
  font-size: 12px;
  color: #acaba2;
}
#total-cost .container .row .group {
  position: relative;
  margin-bottom: 3em;
}
#total-cost .container .row input {
  font-size: 18px;
  padding: 0.625em 0.625em 0.625em 0.3125em;
  display: block;
  width: 18.75em;
  border: none;
  border-bottom: 1px solid #8c362c;
  margin: 0 auto;
}
#total-cost .container .row input:focus {
  outline: none;
}
#total-cost .container .row input:focus label {
  position: relative;
}
#total-cost .container .row label {
  font-family: "JF-Flat-Regular", Georgia, serif;
  color: #8c362c;
  text-align: center;
  position: relative;
  font-size: 18px;
  font-weight: normal;
  pointer-events: none;
  left: -23%;
  top: -30px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
#total-cost .container .row input:focus ~ label,
#total-cost .container .row input:valid ~ label {
  position: relative;
  top: -50px;
  left: 0;
  right: 180px;
  font-size: 14px;
  color: #8c362c;
}
#total-cost .container .row .bar {
  position: relative;
  display: block;
}
#total-cost .container .row .bar:before,
#total-cost .container .row .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
#total-cost .container .row .bar:before {
  left: 50%;
}
#total-cost .container .row .bar:after {
  right: 50%;
}
#total-cost .container .row input:focus ~ .bar:before,
#total-cost .container .row input:focus ~ .bar:after {
  width: 30.5%;
  color: #2f374e;
  background: #8c362c;
}
#total-cost .container .row .btn-box {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#total-cost .container .row .btn-box a {
  display: block;
  background-color: #8c362c;
  border: 2px solid #fff;
  border-radius: 11px;
  padding: 12px 100px;
  position: relative;
  font-size: 16px;
  font-family: "JF-Flat-Regular", Georgia, serif;
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
}
#total-cost .container .row .btn-box a:hover {
  background: #2f374e;
  color: #fff;
  transition: all 0.8s ease-out;
}
.navbar-default {
  z-index: 2;
}
#jumbotron {
  position: relative;
}
#jumbotron #jumbotron .jumbotron-caption {
  position: absolute;
  text-align: right;
  top: 30%;
  right: 0;
  left: 0;
  z-index: 3;
}
#jumbotron #jumbotron .jumbotron-caption h2 {
  z-index: 4;
}
#jumbotron .overlay {
  position: absolute;
  background: #8c362c;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  opacity: 0.4;
}
#map-section .container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
#map-section .container-fluid #map {
  width: 100%;
  height: 600px;
}
#map-section .gm-style-iw div {
  text-align: center;
  color: #8c362c;
  font-size: 14px;
  font-family: "JF-Flat-Regular", Georgia, serif;
}
#map-section .gm-style-iw div h3 {
  font-family: "JF-Flat-Medium", Arial, sans-serif;
  margin-top: 5px;
}
